
.collection-container{
    background-color: #ccf7cc;
    margin-top: 50px;
    padding-bottom: 44px;
    margin-bottom:100px
   
}

.market-collection{
    padding-top: 30px;
    margin: 0px auto;
    max-width: 1000px;
    padding-bottom:20px;

}

.market-collection-img-cover{
    width: 250px;
    border-radius: 10%;
    height: 200px;
    background-color:var(--primary-bg);
    box-shadow: var(--collection-shadow);
    border:0.5px solid var(--border-white);
  
}

.market-collection-img{
 border-radius:inherit;
 height:100%;
 width:100%;
}



.slick-next:before,
.slick-prev:before{
    font-size: 25px;
    color: rgb(14 13 13);
}

.collection-title{
    margin:10px 10px 20px 10px;
    font-weight: 600;
    font-size: 25px;
}

.market-collection-img-title{
    font-weight: 600;
    font-size: 20px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
}

@media (max-width:800px){

    .market-collection-img-cover{
        height:190px;
        width:190px;
    }
    .slick-arrow{
        display: none !important;
    }

}

@media (max-width:600px){

    .market-collection-img-cover{
        height:80px;
        width:80px;
    }
    .market-collection-img-title{
        font-size:15px;
    }
   

}

